html {
  font-family: "Crimson Text", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #F3F4F6;
  margin: 0;
  padding: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  align-items: flex-end;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.container {
  grid-row: 1 / 2;
  text-align: center;
}

#firebaseui-auth-container {
  grid-row: 3 / 4;
}

.welcome {
  display: grid;
  grid-template-rows: 1fr 1fr 3fr 1fr;
  justify-items: center;
  height: auto;
}

.responsive {
  grid-row: 1 / 2;
  width: 180px;
  margin: 12px 0 12px 0;
}

#sentence {
  grid-row: 2 / 3;
  font-size: 120%;
}

.logo {
  grid-row: 4 / 6;
  width: 50%;
  height: auto;
  margin-top: 15px;
  margin-left: 110px;
}

a {
  width:20%;
  grid-row: 5 / 6;
  align-self: center;
}

#loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 440px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 440px;
    height: 100vh;
    background-color: #ffffff;
  }
}