@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: local('Pretendard Black'),  url('/assets/fonts/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: local('Pretendard ExtraBold'), url('/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: local('Pretendard Bold'), url('/assets/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: local('Pretendard SemiBold'), url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: local('Pretendard Medium'), url('/assets/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: local('Pretendard Regular'), url('/assets/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: local('Pretendard Light'), url('/assets/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: local('Pretendard ExtraLight'), url('/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: local('Pretendard Thin'), url('/assets/fonts/Pretendard-Thin.woff') format('woff');
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #F3F4F6;
    overflow: hidden;
    font-family: 'Crimson Text', serif; 
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 440px; 
    min-height: 100vh;
    background-color: #FFFDF4;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding: 0 20px; 
}

#back-arrow {
    width: 16px;
    font-weight: 600;
    position: absolute;
    left: 20px; 
    top: 50%;
    transform: translateY(-50%);
}

img {
    width: 58.5%;
    margin: 4px auto 0 auto;
    display: block;
}

#userProfile {
    width: 90%; 
    height: auto;
}

.userInfo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 12px;
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-family: Pretendard, sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
    margin-bottom: 4px;
    color: #6B7280;
}

.form-control {
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
    border: 1px solid #f9f9f9;
    /* To remove the border of the input */
}

.form-control:focus {
    border-color: #4a873e; 
    outline: none;
}

.form-buttons {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
    margin-top: 10px; 
}

#edit-button, #save-button {
    padding: 12px 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#edit-button {
    background: #cbcbcb;
    color: #4B5563;
    width: 20%;
}

#edit-button:hover {
    background-color: #368ffd;
    color: #ffffff;
}

#save-button {
    display: none;
    background-color: #28a745;
    color: white;
    width: 20%;
}

#save-button:hover {
    background-color: #1e7e34;
}

#save-button:active {
    transform: scale(0.95);
}

/* Sweetalert */
.custom-rounded-popup {
    background-color: #ffffff;
    padding: 24px 20px 24px 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 300px;
    margin: 15% auto;
    text-align: center;
}

/* Logout Button */
#bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 35%;
}

.logout-button {
    padding: 15px 70px;
    font-size: 18px;
    border-radius: 8px;
    background-color: #4a873e;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 32px 0 50px 0;
}

.logout-button:hover {
    background-color: #ff4d4f;
}

.logout-button:active {
    transform: scale(0.95);
}

@media screen and (min-width: 440px) {
    .main {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 440px;
        min-height: 100vh;
        height: auto;
        background-color: #FFFDF4;
    }

    img {
        width: 49%;
        margin: 4px auto 0 auto;
        display: block;
    }
}