@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    src: local('Pretendard Black'),  url('/assets/fonts/Pretendard-Black.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    src: local('Pretendard ExtraBold'), url('/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    src: local('Pretendard Bold'), url('/assets/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    src: local('Pretendard SemiBold'), url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    src: local('Pretendard Medium'), url('/assets/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    src: local('Pretendard Regular'), url('/assets/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    src: local('Pretendard Light'), url('/assets/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    src: local('Pretendard ExtraLight'), url('/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    src: local('Pretendard Thin'), url('/assets/fonts/Pretendard-Thin.woff') format('woff');
}


body {
    font-family: 'Pretendard', serif;
    background-color:  #F3F4F6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100vh;
    width: 100vw;
    margin:0;
    padding: 0;
}


/* Header styling */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFDF4;
    width: 100%;
    padding: 20px 0;
}

.logo-img {
    width: 40%;
    margin-top: 4px;
    margin-right: 16px;
}

#back-button {
    position: relative;
    right: 80px;
    width: 16px;
    max-height: 35px;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 440px;
    background-color: #FFFDF4;
}

/* Sale information image styling */
#salesinformation {
    margin: 20px 0;
    text-align: center;
}

#salesinformation img {
    max-width: 300px;
    height: auto;
}

/* Divider styling */
.divider {
    height: 2px;
    background-color: #ddd;
    margin:0;
    width: 100%;
}

/* Form container */
.sale-information-form {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.sale-information-form label {
    font-weight: 600;
    color: #333;
    display: inline-block;
    margin-bottom: 4px;
}

.sale-information-form input {
    width: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.sale-information-form input[type="date"] {
    color: #555;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80px;
}

/* Button styling */

.confirm-btn {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    max-width: 180px;
    height: 100%;
    min-height: 60px;
}

.confirm-btn:hover {
    background-color: #45a049;

}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 10px;
    width: 100%;
    margin: 12px 0 20px 0;
}

.community-btn {
    background-color: #FCCD2A;
    color: #524900;
    font-size: 1.0rem;
    font-weight: bold;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    max-width: 180px;
    height: 100%;
    min-height: 60px;
}



@media screen and (min-width: 440px) {

    #main {
        width: 100vw;
        overflow-y: auto;
        max-width: 440px;
    }

    #content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 440px;
        height: 100vh;
        background-color: #ffffff;
    }
}