
body {
    font-family: 'Crimson Text', serif;
    background-color:  #F3F4F6;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height:100vh;
    width: 100vw;
    margin:0;
    padding: 0;
    border: 2px solid black;
}


/* Header styling */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    padding: 20px 0;
    
}

header img {
    max-width: 150px;
}

#back-button {
    position: relative;
    right: 110px;
    max-height: 35px;
}


#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 440px;
    background-color: white;
}

/* Sale information image styling */
#salesinformation {
    margin: 20px 0;
    text-align: center;
}

#salesinformation img {
    max-width: 300px;
    height: auto;
}

/* Divider styling */
.divider {
    height: 2px;
    background-color: #ddd;
    margin:0;
    width: 100%;
}

/* Form container */
.sale-information-form {
    background-color: #FFFBE6;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

.sale-information-form label {
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
    display: inline-block;
}

.sale-information-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.sale-information-form input[type="date"] {
    color: #555;
}

/* Button styling */

.confirm-btn {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 110px;
    
    height: 55px;
}

.confirm-btn:hover {
    background-color: #45a049;

}

.button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.community-btn {
background-color: #FCCD2A;
color: black;
font-size: 14px;
font-weight: bold;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
width: 110px;
height: 55px;
}



@media screen and (min-width: 440px) {

    #main {
        width: 100vw;
        /* height: calc(100vh - 116px); */
        overflow-y: auto;
        max-width: 440px;
    }

    #content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        max-width: 440px;
        height: 100vh;
        background-color: #ffffff;
    }
}