@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  src: local('Pretendard Black'),  url('/assets/fonts/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: local('Pretendard ExtraBold'), url('/assets/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: local('Pretendard Bold'), url('/assets/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: local('Pretendard SemiBold'), url('/assets/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: local('Pretendard Medium'), url('/assets/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: local('Pretendard Regular'), url('/assets/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: local('Pretendard Light'), url('/assets/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  src: local('Pretendard ExtraLight'), url('/assets/fonts/Pretendard-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: local('Pretendard Thin'), url('/assets/fonts/Pretendard-Thin.woff') format('woff');
}

html {
  font-family: "Pretendard", serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  margin: 0;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.container {
  grid-row: 1 / 2;
  text-align: center;
}

#catch-phrase {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#firebaseui-auth-container {
  grid-row: 3 / 4;
}

.welcome {
  display: grid;
  grid-template-rows: 0.4fr 1fr 1fr 0.25fr;
  justify-items: center;
  height: auto;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overflow-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
}

.responsive {
  grid-row: 1 / 2;
  width: 180px;
  margin: 12px 0 12px 0;
}

#sentence {
  grid-row: 2 / 3;
  font-size: 120%;
}

.logo {
  width: 50%;
  height: auto;
}

a {
  width:20%;
  grid-row: 5 / 6;
  align-self: center;
}

#guestLogin {
  margin-left: 148.5px;
  margin-bottom: 30px;
}